.divTable { 
  display: table; 
  width: 100%; 
}

.divTableHead {
  display: table-header-group;
}

.divTableHead h4 {
  font-weight: bolder;
}

.divTableBody {
	display: table-row-group;
}

.divTableRow {
	display: table-row;
}

.divTableCell {
	display: table-cell;
	border-bottom: 1px solid #ccc;
	text-align: center;
	line-height: 50px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.cell3 { display: none; }
.pcCell { display: table-cell; }

@media screen and (max-width: 576px) {
  
  .divTable, .myQnaList > .container {
    padding: 0;
  }
  
  .divTableHead {
    display: none;
  }
  
  .divTableRow {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
  }
  
  .divTableCell {
    line-height: 50px;
    border: none;
  }
  
  .mobileCell { line-height: 30px; margin: 0 10px; }
  
  .cell1, .cell2 {
    background-color: rgb(250, 250, 250);
  }
    
  .cell1 { border: 1px solid #ccc; border-bottom: none; }
  .cell2 { border: 1px solid #ccc; border-top: none; }
  .cell3 { 
    display: flex; 
    justify-content: space-between;
  }
  
  .cell1:before { content: "문의 항목 : "; }
  .cell2:before { content: "문의 제목 : "; }
  
  .pcCell { display: none; }
  .cell3 { order: 1; }
  .cell1 { order: 2; }
  .cell2 { order: 3; }
  
}